/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-gutengraphs-barchart {
	padding-right: 40px;

	svg {
		overflow: visible;
	}
}

.gutengraphs-datasheet-instructions {
	margin-bottom: 15px;
}

.gutengraphs-datasheet-ui {
	text-align: right;

	button {
		margin-left: 10px;
	}
}

.gutengraphs-datasheet {
	margin-bottom: 15px;

	table {
		border-collapse: collapse;
		border-spacing: 0;
		outline: none;

		input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		span {
			background-color: transparent;
			border: 2px solid transparent;
			display: block;
			font-size: 12px;
			margin: 0;
			min-height: 33px;
			padding: 5px;
		}

		input {
			appearance: none;
			border: 0;
			display: block;
			font-size: 12px;
			margin: 0;
			max-width: 100%;
			padding: 5px;
			outline: none;
		}

		tr {
			border-top: 1px solid #ccc;

			&:last-child {
				border-bottom: 1px solid #ccc;
			}

			&:nth-child(even) {
				background-color: #eee;

				input {
					background-color: #eee;
				}
			}

			td {
				border-left: 1px solid #ccc;
				min-width: 60px;
				padding: 0;
				position: relative;

				&.selected {

					span {
						border: 2px solid #aaa;
					}
				}

				&:last-child {
					border-right: 1px solid #ccc;
				}
			}
		}
	}
}